/* reset */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--font-family);
}
h2 {
  color: var(--color-title-list)!important;
  font-size: 1.4vw!important;
  font-weight: 600!important;
  margin-bottom:0.5em!important;
}
main {
  background: linear-gradient(360deg, #141414, #000000);
  padding-left: 60px;
  color: #fff;
}
#banner {
  background-repeat: no-repeat;
  background-size: cover;
  height: 82vh;
  background-position: center;

  .iframe {
    width: 100vw;
    height: 81vh;
    object-fit: cover;
  }
}


.video-stream.html5-main-video {
  width: 100%;
  height: 592px;
  left: 0;
  top: 0px;
}

nav ul {
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  z-index: 9;
  background-color: var(--background-navbar);
  color: white;
  padding-top: 1px;
  width: 100%;
  backdrop-filter: blur(5px);
}
.icon-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3em;
}
i {
  color: #fff;
  font-size: 23px;
  margin: 0 11px;
  cursor: pointer;
}

#icon-img {
  width: 32px;
  margin-right: 5%;
  border-radius: 6px;
}
.bi-caret-down-fill {
  color: white;
}
.icon-nav-bis {
  transition: transform 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show {
  background-color: black;
  opacity: 80%;
}

nav img {
  width: 10em;
  margin-right: 2em;
}
nav li {
  margin: 0 1em;
}
nav a {
  color: #e5e5e5;
  transition-duration: 0.3s;
  list-style-type: none;
  text-decoration: none;
  font-size: 15px;
}
nav a:hover {
  color: #b3b3b3;
}
.row img {
  width: 16em;
  margin: 4em 1px;
}
/* Bannière Netflix */
.carousel-item img {
  width: 15em !important;
  margin: 0 3px;
}
/* card */
.icon_Netflix {
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// SLIDER
.row-contener .slider {
  padding: 0 60px;
}
.slider {
  .pagination-indicator {
    background: red;
    display: none;
    list-style-type: none;
    margin: -24px 0 12px;
    padding: 0;
    position: absolute;
    right: 4%;
    top: 0;    
  }
}
.sliderMask {
  display: flex;
  gap: 7px;
  overflow: hidden;
  padding: 0 .2vw;
  position: relative;
  vertical-align: top;
  white-space: normal;
  z-index: 1;

  img {
    border-radius: .2vw;
  }
}

.Theme {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Theme p {
  font-size: 12px;
  margin: 0;
  color: #cfcfcf;
}
.Theme hr {
  width: 3em;
  color: white;
  transform: rotate(90deg);
}
.carousel-control-next,
.carousel-control-prev {
  width: 2%;
}
.Movies {
  display: flex;
}
/* boutton bannière */
.btn-banner {
  margin-top: 2em;
  z-index: 33;
}
.btn-banner a {
  text-decoration: none;
  list-style-type: none;
}
.btn-banner a:nth-child(1) {
  background: #fff;
  color: black;
}
.btn-banner a:nth-child(2) {
  background: rgba(161, 161, 161, 0.76);
  color: #fff;
}
.btn-banner a:nth-child(1),
.btn-banner a:nth-child(2) {
  padding: 9px 38px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  margin: 0 2px;
}
.btn-banner a:nth-child(1):hover,
.btn-banner a:nth-child(2):hover {
  background: #939393;
}
.description-banner {
  position: absolute;
  bottom: 32em;
  color: #fff;
  width: 68em;

  p {
    display: flex;
    align-items: center;
    img {
      width: 44px;
      margin-right: 15px;
    }

  }
}
.description-banner > p {
  font-size: 24px;
}
.description-banner span {
  font-size: 40px;
  font-weight: 600;
}
/* section */

/* Image & Chiffre */
.imgNchiffre {
  display: flex;
  margin-left: 8em;
}
.imgNchiffre img {
  position: relative;
}
.imgNchiffre p {
  position: absolute;
  z-index: -1;
  font-size: 24em;
  bottom: -101px;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: #747474;
  color: #060710;
  left: 27px;
}
/* Connexion */
.users {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.users div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.users p {
  font-size: 18px;
  margin-top: 12px;
  color: grey;
}
.users h1 {
  margin-bottom: 0.3em;
  font-size: 4em;
}
.users img {
  width: 13em;
}
.users img:hover {
  border: solid 6px #fff;
}
/* Footer */
footer {
  background: #141414;
  display: Flex;
  justify-content: center;
  align-items: center;
  padding: 8em 9em;
  font-size: 13px;
}
.bloc_footer {
  display: flex;
  flex-direction: column;
  margin: 0 5em;
  color: #878787;
  cursor: pointer;
}
.bloc_footer p:hover {
  text-decoration: underline;
}
.reseaux {
  margin-bottom: 13px;
  cursor: pointer;
}
/* -Page Film-- */
.banniere_film {
  background-image: url("../img/stranger2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -35em;
  position: relative;
  height: 21em;
}
.coverNtext img {
  height: 21em;
  width: 15em;
  position: absolute;
  position: absolute;
  top: 5em;
  left: 5em;
  transition-duration: 0.4s;
}
.coverNtext img:hover {
  border: none;
  box-shadow: 10px 10px 0 #960c0f;
}
.critique {
  position: absolute;
  left: 7em;
}
.critiqueNtext {
  display: flex;
  justify-content: center;
  padding-top: 7em;
  position: relative;
}
::selection {
  background-color: #960c0f;
  color: #fff;
}
.text {
  width: 71em;
  margin-left: 13em;
}
.trailerserie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 62em;
  margin-left: 13em;
}
.trailerserie h1 {
  margin-bottom: 1em;
}
.trailerserie iframe {
  width: 62em;
  height: 29em;
  margin-top: 1em;
}
.imgNtext {
  display: flex;
  align-items: center;
  margin: 2em 0;
  cursor: pointer;
}
.img_critique img {
  width: 84px;
}
.imgNtext p {
  margin-bottom: 0;
}
.video-bg {
  width: 100%;
  margin: 0;
  position: absolute;
  z-index: 0;
  filter: blur(50px);
}
