@font-face {
    font-family: 'Netflix-Medium'; /* Nom de la police */
    src: url('../fonts/NetflixSans-Medium.otf') format('opentype'); /* Chemin vers le fichier de police */
}

/*Variables du projet */
:root {
    --primary-color:#fff;
    --secondary-color:#a1a1a1c2;
    --bgc-color:#141414;

    /* margin */
    --margin-items: 1rem 0px;

    /* Font */
    --font-netflix-medium:'Netflix-Medium';

    /* Size */
    --font-title: 33px;
}
